<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394666428067-am1fsub2c2hduv4mfo7es2b5nmms271n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394666428067-am1fsub2c2hduv4mfo7es2b5nmms271n</string>
	<key>API_KEY</key>
	<string>AIzaSyAEcIpPOxB4CuLL-uEIH1SM7NQqbe3u4RQ</string>
	<key>GCM_SENDER_ID</key>
	<string>394666428067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reenususankuriansapplication.app.testProject</string>
	<key>PROJECT_ID</key>
	<string>smart-anomaly-detection</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-anomaly-detection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394666428067:ios:6dd560502b7f242f01a116</string>
</dict>
</plist>